<% provide(:title, "Our Products") %>
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
	<h1>Our Products</h1>

	<table>


  	<tbody>
  		  <% @products.each do |product| %>
  		  <div class="center jumbotron">
						<P><%= image_tag product.photo.url(:thumb) %>  <%= product.title %>  <%= product.price %></p>
  		      <p><%= link_to 'Show Item', product, class: 'btn btn-default center' %></p>
  		      </br >
  		      </br >
  			</div>
	  	  <% end %>
  	</tbody>
	</table>
	<br>
