<p id="notice"><%= notice %></p>

<div class="center jumbotron">
<p>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong></br >
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<% if @product.photo? %>
	<%= image_tag @product.photo.url(:preview) %>
	<br />
	<%= link_to @product.photo.url, @product.photo.url %>
<% end %>

<% if logged_in? %>

	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>

<% end %>
</div>
