<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="background-image: url(https://s3-us-west-2.amazonaws.com/tbsproductimages/DSC_0112_2.jpg?X-Amz-Date=20150222T002210Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=22def54c00d0c8ee1804fbff98745a993436edaf521f917b1dd7b36d5beaa0c4&X-Amz-Credential=ASIAIHWW2RI7P34QLCAA/20150222/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEJn//////////wEakAJUIHTbXTtQUPt5DfWFfQR7s9SIKut13yZYfyjPHUflXan%2BVKxMVe3DvzS2VZrU1CJH8Kenrv1udpROyC435ygl281IyDYfoyl1481MkvTjj3iZIOKHapB3YXFjbhFI%2B2HKHpiqF5FGiPZvQV8b5wKUu6t2Ms1FIvEoByIRHmmkUNI8EpsOFb3rWyCGMtSvby7%2Be1O7y%2BiXIJL6xO9yp%2Bf3uAkxApkayCaYAviKFrnJ40s3o6cFNazYL1Xy1QHtvI/rXG35/lHZuuSqXM7LkZ%2Be%2BZv5UjBHc7Rks%2Bh99f6cCm%2BbaxvxuOm1abRkymCw40Oj65Q54eZRmxrk7YgxULf6pwgLFcDafi9G5NVyON9xSiCuuaSnBQ%3D%3D)">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
		<%= render 'layouts/footer' %>
  </body>
</html>
