<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="background-image: url(https://s3-us-west-2.amazonaws.com/tbsproductimages/DSC_0112_2.jpg?X-Amz-Date=20150219T045930Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=705aa1e211dbe089934ac387563b9182377a7967dc4399591905e14aef7d762e&X-Amz-Credential=ASIAIUPTA3OWY6ZX2KYA/20150219/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEE0agAJgnXc3GypSZYYWWv5OZGZnvrxIpMBgfD/ml/84s2oq7u70NEJKhJJRAIJtp7lUfIZC4bnChbDVIameqrnbkEs%2BSMR/hXgz4IcyW36CmDG0UU61V0ZfU7647K2FqFDhgIIhw5Mg%2Bpim4bDXbZqzoQHxrzXmGdlGNmryMPf3KzZedA6InBoWA81rB1qdrDDAl6L8saEM2Zvtl4uWlHsb9UxwAbBoU/uCrg45BLFpDK8cfkFsZ%2B9ESNJ5PO5pzNYDsnjr%2BcAfmFWr/TksQdYLCRAqxjQJ3bBOV5cSMWKuKP72383zgjXe1axsxa7rg5DNECOZxuORpWRKjDPyn4ycon13IMXUk6cF)">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
		<%= render 'layouts/footer' %>
  </body>
</html>
